<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GitHubAPI</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body style="background-image: url(&quot;/static/img/Prototype.jpg&quot;);">
    <div class="landing-threshold">
        <div class="container-fluid">
            <div class="landing-intro">
                <h1>Designed by&nbsp;<span class="brand"                      
                        style="color: rgb(0,123,255);">Z<span style="color: rgb(0,255,10);">ac</span>h</span>
                </h1>
                <p class="lead">Find the best github repos in one place!</p><a class="btn"
                    href="#">Contact me</a>
            </div>
            <div class="d-flex justify-content-between landing-cta-group" style="color: rgb(255,255,255);">
                <div>
                    <fieldset>
                        <legend>Languages</legend>
                        <div class="custom-control custom-radio custom-control-inline"><input type="radio"
                                id="customRadioInline1" class="custom-control-input" name="customRadioInline"
                                checked=""><label class="custom-control-label" for="customRadioInline1">Java</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline"><input type="radio"
                                id="customRadioInline2" class="custom-control-input" name="customRadioInline"><label
                                class="custom-control-label" for="customRadioInline2">JavaScript</label></div>
                        <div class="custom-control custom-radio custom-control-inline"><input type="radio"
                                id="customRadioInline2" class="custom-control-input" name="customRadioInline"><label
                                class="custom-control-label" for="customRadioInline2">Python</label></div>
                        <div class="custom-control custom-radio custom-control-inline"><input type="radio"
                                id="customRadioInline2" class="custom-control-input" name="customRadioInline"><label
                                class="custom-control-label" for="customRadioInline2">Ruby</label></div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="datagrid" style="background-color: rgba(255,255,255,0);">
        <table class="table">
            <thead>
                <tr>
                    <th style="background-color: rgb(0,255,10);color: rgb(0,0,0);">Name</th>
                    <th style="color: rgb(0,0,0);">Language</th>
                    <th style="color: rgb(0,0,0);">Number of Stars</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: rgb(0,0,0);">Cell 1</td>
                    <td style="color: rgb(0,0,0);">Cell 2</td>
                    <td style="color: rgb(0,0,0);">Text</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="paging">
                            <ul>
                                <li><a href="#"> <span style="color: rgb(0,0,0);">Previous </span></a></li>
                                <li><a class="active" href="#"> <span style="color: rgb(0,0,0);">1 </span></a></li>
                                <li><a href="#"> <span style="color: rgb(0,0,0);">2 </span></a></li>
                                <li><a href="#"> <span style="color: rgb(0,0,0);">3</span></a></li>
                                <li><a href="#"> <span style="color: rgb(0,0,0);">Next </span></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="footer-basic" style="background-color: rgba(255,255,255,0);">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-linkedin"></i></a><a href="#"><i
                        class="icon ion-social-twitch"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                    href="#"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">Zachary Herrera © 2019</p>
        </footer>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>